<div class="enterprise-deatils box-tab" style="margin-bottom: 20px;">
  <div class="body h2" style="display: inline-block; margin-top: 0px;  margin-bottom: 0px; padding-top: 5px; padding-bottom: 0px;"><%= @title_heading %></div>
  <div style="display: inline-block;  float: right; padding-bottom: 10px;">
    <!--<%= link_to "Search", all_users_user_dashboards_path(id: current_user.id), class: "btn btn-primary" %>-->
    <%= form_tag(all_users_user_dashboards_path(id: current_user.id, type: params[:type]), method: "all_users") do %>
        <div style="display: inline-block; float: left; padding-right: 20px;">
          <%= text_field_tag :search, params[:search], placeholder: "Search #{(params[:type])}", class: "search-query form-control" %>
        </div>
        <div style="display: inline-block; float: right;">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>