<%= content_for :all_user_class, 'active'%>

<table class="table test">
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    <% @all_users.each do |user| %>
      <tr>
        <td><%= link_to user.name, suggested_profile_user_dashboards_path(profile_id: user.id) %></td>
        <td><%= link_to @user.is_following?(user) ? "Following" : "Follow", "", class: "btn btn-primary follow", "data-id": "#{user.id}", "data-type": "#{user.profilable_type}",remote: true %></td>
      </tr>
    <% end %>
    <% @enterprises.each do |enterprise| %>
      <tr>
        <td><%= enterprise.name %></td>
        <td><%= link_to @user.is_following?(enterprise) ? "Following" : "Follow", "", class: "btn btn-primary follow", "data-id": "#{enterprise.id}", "data-type": "#{enterprise.class}",remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
