<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_all_users_class, "active" %>
<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <!--search-details-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= render "user_dashboards/sidebar_search" %>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="tab-content">
          <div id="all_search" class="tab-pane fade in active">
            <%= render "user_dashboards/title_bar_search" %>
            <div class="enterprise-deatils box-tab">
              <ul class="full-details clearfix" id="connections_list">
                <% if params[:type] == "Users" %>
                    <% @search.each do |user| %>
                        <li id="user_<%= user.id %>" class="clickable-row" data-href='/user_profiles/<%= current_user.id %>?suggested_profile=<%= user.id %>'>
                        <%= render "global_partials/user_profile_plug", user: user %>
                        </li>
                    <% end %>
                <% end %>
                <% if params[:type] == "Investors" %>
                    <% @search.each do |investor| %>
                        <li id="investor_<%= investor.id %>" class="clickable-row" data-href='/user_profiles/<%= current_user.id %>?suggested_profile=<%= investor.id %>'>
                          <%= render "global_partials/investor_profile_plug", investor: investor %>
                        </li>
                    <% end %>
                <% end %>
                <% if params[:type] == "Companies" %>
                    <% @search.each do |enterprise| %>
                        <li>
                        <%= render "global_partials/company_profile_plug", enterprise: enterprise %>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
            <div class="text-center">
              <%= will_paginate @search %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/search-details-->
</div>

<script>
  $(document).ready(function () {
    $("#find_users").on("keyup", function (event) {
      if (event.keyCode != 10 && event.keyCode != 13) {
        //  event.preventDefault();
        $.ajax({
          type: "get",
          url: "/user_dashboards/searched_users",
          data: {name: $(this).val()}
        });
      }
    })
  });
  $('li.clickable-row>div>div').each(function () {
    $(this).click(function () {
      if ($(this).hasClass('tag-btn-view')) {

      } else {
        window.document.location = $(this).parent().parent().data("href");
      }
    });
  });

  $('div.follow').click( function(event) {
    var innerText = $.trim($(this).text()).toLowerCase();
    if (innerText == "Follow".toLowerCase()){
      $(this).text("Unfollow");
    } else {
      $(this).text("Follow");
    }
  });

</script>
