<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_all_users_class, "active" %>
<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <div class="container side-deatail">
    <div class="col-xs-3">
      <%= render "/user_dashboards/sidebar" %>
    </div>
    <div class="col-xs-9">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade in active">
            <div class="tab-title">All Users</div>
            <div style="margin-top: 10px">
              <%= text_field_tag "find_users", '',class: "form-control", placeholder: "Find People" %>
            </div>
            <div class="tab-content">
            <ul class="nav nav-tabs">
              <li class="<%= params[:enterprises]  || params[:investors] ? '' : 'active' %>">
                <%= link_to all_users_user_dashboards_path do %>
                  Users
                <% end %>
              </li>
              <li class="<%= params[:investors] ? 'active' : '' %>">
                <%= link_to all_users_user_dashboards_path(investors: true) do %>
                  Investors
                <% end %>
              </li>
              <li class="<%= params[:enterprises] ? 'active' : '' %>">
                <%= link_to "Enterprises", all_users_user_dashboards_path(enterprises: true) %>
              </li>
            </ul>
              <div id="all_users" class="tab-pane fade in <%= params[:enterprises]  || params[:investors] ? '' : 'active' %>">
                <div class="user-follow" style="margin-top: 10px">
                  <ul class="clearfix">
                  <% @all_users.each do |user| %>
                    <%#= link_to user_profile_path(id: current_user.id,suggested_profile: user.id) do %>
                      <li id="user_<%= user.id %>" class="clickable-row" data-href='/user_profiles/<%= current_user.id%>?suggested_profile=<%= user.id %>'>
                        <div class="tag-1">
                          <div class="follow-pro">
                            <div class="pic-user"><%= image_tag user.photo_avatar %></div>
                          </div>
                        </div>
                        <div class="tag-2">
                          <h2><%= user.name %></h2>
                          <div class="tag-line-pro"><%= truncate(user.profilable.something_cool,length: 80,separator: ' ') %></div>
                        </div>
                        <div class="tag-3">
                          <div class="action-tag">
                            <ul class="menu cf">
                              <li class="follow" data-id='<%="#{user.id}"%>' data-type='<%="#{user.profilable_type}"%>'>
                                <%= current_user.is_following?(user) ? "Following" : "Follow" %>
                                <%#= link_to @user.is_following?(enterprise) ? "Following" : "Follow", "#", class: "follow", "data-id": "#{enterprise.id}", "data-type": "#{enterprise.class}",remote: true %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    <%# end %>
                  <% end %>
                </ul>
              </div>
              <div class="text-center">
                <%= will_paginate @all_users %>
              </div>
              </div>
              <div id="all_investors" class="tab-pane fade in <%= params[:investors] ? 'active' : '' %>">
                <div class="user-follow" style="margin-top: 10px">
                  <ul class="clearfix">
                  <% @all_investors.each do |investor| %>
                    <%#= link_to user_profile_path(id: current_user.id,suggested_profile: user.id) do %>
                      <li id="investor_<%= investor.id %>" class="clickable-row" data-href='/user_profiles/<%= current_user.id%>?suggested_profile=<%= investor.id %>'>
                        <div class="tag-1">
                          <div class="follow-pro">
                            <div class="pic-user"><%= image_tag investor.photo_avatar %></div>
                          </div>
                        </div>
                        <div class="tag-2">
                          <h2><%= investor.name %></h2>
                          <div class="tag-line-pro"><%= truncate(investor.profilable.description,length: 80,separator: ' ') %></div>
                        </div>
                        <div class="tag-3">
                          <div class="action-tag">
                            <ul class="menu cf">
                              <li class="follow" data-id='<%="#{investor.id}"%>' data-type='<%="#{investor.profilable_type}"%>'>
                                <%= current_user.is_following?(investor) ? "Following" : "Follow" %>
                                <%#= link_to @user.is_following?(enterprise) ? "Following" : "Follow", "#", class: "follow", "data-id": "#{enterprise.id}", "data-type": "#{enterprise.class}",remote: true %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    <%# end %>
                  <% end %>
                </ul>
              </div>
              <div class="text-center">
                <%= will_paginate @all_users %>
              </div>
              </div>
              <div id="all_enterprises" class="tab-pane fade in <%= params[:enterprises] ? 'active' : '' %>">
                <div class="user-follow" style="margin-top: 10px">
                  <ul class="clearfix">
                    <% @enterprises.each do |enterprise| %>
                    <%#= link_to public_profile_enterprises_path(enterprise: enterprise) do %>
                      <li id="enterprise_<%= enterprise.id %>" class="clickable-row" data-href='<%= public_profile_enterprises_path(enterprise: enterprise) %>'>
                        <div class="tag-1">
                          <div class="follow-pro">
                            <div class="pic-user"><%= image_tag enterprise.logo_avatar %></div>
                          </div>
                        </div>
                        <div class="tag-2">
                          <h2><%= enterprise.name %></h2>
                          <div class="tag-line-pro"><%= truncate(enterprise.description,length: 80,separator: ' ') %><%#= enterprise.description %></div>
                        </div>
                        <div class="tag-3">
                          <div class="action-tag">
                            <ul class="menu cf">
                              <li class="follow" data-id='<%="#{enterprise.id}"%>' data-type='<%="#{enterprise.class}"%>'>
                                <%= current_user.is_following?(enterprise) ? "Following" : "Follow" %>
                                <%#= link_to @user.is_following?(enterprise) ? "Following" : "Follow", "#", class: "follow", "data-id": "#{enterprise.id}", "data-type": "#{enterprise.class}",remote: true %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    <%# end %>
                    <% end %>
                  </ul>
                </div>
                <div class="text-center">
                  <%= will_paginate @enterprises %>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $("#find_users").on("keyup",function(event){
    if (event.keyCode != 10 && event.keyCode != 13) {
    //  event.preventDefault();
     $.ajax({
       type: "get",
       url: "/user_dashboards/searched_users",
       data: {name: $(this).val()}
     });
   }
  })
})
$(".clickable-row>div").click(function() {
  if($(this).hasClass('tag-3')){
  }else{
    window.document.location = $(this).parent("li").data("href");
  }
});
</script>
