<%#= current_user.target_followed %>
<%= content_for :body_class, "dashbord" %>
<%#= content_for :enterprise_class, 'active' %>
<%= render partial: "user_dashboards/sidebar" %>
<p id="notice"><%= notice %></p>
<div class="container side-deatail">
  <div class="col-xs-12">
    <div class="profile-tabs test">
      <div class="tab-pane fade editable-contact-info edit-mode-disabled active in">
        <div class="tab-title">Connections</div>
        <div class="pull-right" style="margin-top:5px; margin-bottom:5px">
          <%#= link_to 'New Enterprise', new_enterprise_path, class: "btn btn-primary" %>
        </div>
        <div class="enterprise-deatils box-tab">
          <ul class="full-details clearfix">
            <li><div class="name-enetrprise head-box">Name</div><div class="destory head-box">Destory</div></li>
            <% @connections.each do |connection| %>
              <li>
                <div class="name-enetrprise">
                  <%= link_to connection.target.name,  user_profile_path(id: current_user.id,connection_profile: connection.target_id) %>
                </div>
                <div class="destory">
                  <a href="#">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= link_to '<i class="fa fa-comments" aria-hidden="true"></i>'.html_safe, "#" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
