<%= content_for :body_class, "dashbord" %>
<%= content_for :edit_user_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <div class="container side-deatail">
    <div class="col-xs-3">
      <%= render partial: "settings" %>
    </div>
    <div class="col-xs-9">
        <div class="tab-content view-tag">
          <div id="change_pass" class="tab-pane fade in active">
            <h3>Change Password</h3>
            <div class="profile-tabs">
              <div class="tab-content">
                <div class="tab-pane fade in active">
                  <%= simple_form_for(@user, :url => { :action => "update_password" }) do |f| %>
                  <div class="field">
                    <%= f.input :password, :autocomplete => "off"  %>
                  </div>
                  <div class="field">
                    <%= f.input :password_confirmation %>
                  </div>
                  <div class="field">
                    <%= f.input :current_password %>
                  </div>
                  <div class="action_container">
                    <%= f.submit %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
