<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_dashboard_class, "active" %>

<%= render "profile" %>
<div class="main-body">
  <%= render "sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade in active">
            <div class="tab-title">Dashboard</div>
            <ul class="main-dashbord">
              <% @feeds.each do |feed| %>
                <li>
                  <div class="box-tab">
                    <div class="header-type">
                      <span class="header-name">Loerm ipsum  is simply dummy text of the printing and typesetting industry.</span><span class="time-date"><div class="timezone"><i aria-hidden="true" class="fa fa-clock-o"></i>5 Hours ago</div></span>
                    </div>
                    <div class="box effect2">
                      <div class="main-img">
                        <%= image_tag feed.photo %>
                      </div>
                    </div>
                    <div class="main-details">
                      <h3><%= feed.title %></h3>
                      <p><%= feed.description %></p>
                      <div class="likers clearfix">
                        <span class="like"><i aria-hidden="true" class="fa fa-thumbs-up"></i></span>
                        <span class="like unlike"><i aria-hidden="true" class="fa fa-thumbs-down"></i></span>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade">
            <div class="tab-title">messages</div>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="tab-pane fade">
            <div class="tab-title">proposals</div>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="tab-pane fade">
            <div class="tab-title">offers</div>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="tab-pane fade">
            <div class="tab-title">interests</div>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="tab-pane fade">
            <div class="tab-title">meeting schedules</div>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
