<%= content_for :body_class, "dashbord" %>
<%= content_for :enterprise_class, 'active' %>
<%= render partial: "user_dashboards/sidebar" %>
<p id="notice"><%= notice %></p>

<%#= link_to 'New Message', new_message_path %>
<%= %>

  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs test">
        <div class="tab-content">
          <div  class="tab-pane fade active in">
            <div class="tab-title">Messages</div>
            <div class="message-box">
              <div class="message-header"><%= @user.name %></div>
              <div class="message-body">
                <ul>
                  <% @message_thread.each do |thread| %>
                    <% if thread.user_id != current_user.id %>
                      <li><div class="circle-message"><%=image_tag thread.user.photo_avatar %></div><div class="message-trip"><div class="tap-sticker"><%= thread.content %><span class="timer">2 hour ago</span></div></div></li>
                    <% else %>
                      <li class="rlt"><div class="message-trip"><div class="tap-sticker"><%= thread.content %><span class="timer">2 hour ago</span></div></div><div class="circle-message"><%= image_tag thread.user.photo_avatar %></div></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <%= form_for @message,url: messages_path do |f|%>
                <%= f.hidden_field :topic_id,value: params[:id] %>
                <div class="sender-box">
                  <div class="circle-message"><%=image_tag current_user.photo_avatar %></div>
                  <div class="form-group">
                    <%= f.text_area :content, class: "form-control", placeholder: "Write a message" %>
                  </div>
                  <span>
                    <button class='btn btn-primary' style='width:40px;'>
                      <i aria-hidden="true" class="fa fa-paper-plane"></i>
                    </button>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
