<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_meeting_schedules_class, 'active' %>
<%= render "user_dashboards/profile" %>

<div class="container side-deatail">
  <div class="col-xs-3">
    <%= render partial: "user_dashboards/sidebar" %>
  </div>
  <div class="col-xs-9">
    <div class="profile-tabs">
      <div class="tab-content">
        <div  class="tab-pane fade active in">
          <% if @meetings.any? %>
              <% @meetings.each do |meeting| %>
                <%= render "global_partials/meeting_plug", meeting: meeting %>
              <% end %>
              <div class="text-center">
                <%= will_paginate @meetings %>
              </div>
          <% else %>
          <div class="notes-alert">
            <div class="alert alert-warning">
              You do not have any <strong>Meetings</strong> at the current moment.
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
