<header class='back-image'>

</header>
<%= @user.errors.as_json %>
<%= content_for :body_class, 'index' %>
<%= content_for :body_id, 'page-top' %>

<div class="login-set registration">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="log-in box">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="wel-com-tag">Join Us<br/> Register now!!</div>
            <div class="form-group">
              <%= f.label :name, 'Full Name' %>
              <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter your Name" %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your Email" %>
            </div>
            <div class="form-group">
              <%= f.label :username, 'User Name' %>
              <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Enter your Name" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter your Password" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm Password" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm your Password" %>
            </div>
            <div class="form-group">
              <div class="submit-btn">
                <%= f.submit "Submit", class: "btn btn-default" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="log-in box">
          <div class="clearfix">
            <div class="social">
              <ul>
                <li><a href="#"><span class="fa fa-weixin"></span><span class="social-name">Wee Chat</span></a></li>
                <li><a href="#"><span class="fa fa-qq"></span><span>QQ</span></a></li>
                <li><a href="#"><span class="fa fa-google"></span><span>Gmail</span></a></li>
                <li><a href="#"><span class="fa fa-facebook"></span><span>Facebook</span></a></li>
              </ul>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div
