<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_meeting_rooms_class, 'active' %>
<%= render "user_dashboards/profile" %>

<div class="container side-deatail">
  <div class="col-xs-3">
    <%= render partial: "user_dashboards/sidebar" %>
  </div>
  <div class="col-xs-9">
    <div class="profile-tabs">
      <div class="tab-content">
        <div  class="tab-pane fade active in">
          <div class="message">
            <ul>
              <% @meetings.each do |meeting| %>
                <%= link_to meeting_room_path(meeting.meeting_room) do %>
                  <li>
                    <div class="pro-message">
                      <div class="circle-pic"><%= image_tag meeting.enterprise.logo_avatar %></div>
                    </div>
                    <div class="on-off online"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                    <!-- <div class="top-count">2</div> -->
                    <div class="sr-name"><%= meeting.topic %></div>
                    <div class="tag-line-pro meeting-name"><%= meeting.enterprise.name %></div>
                    <div class="sr-member"><span><i aria-hidden="true" class="fa fa-users"></i></span><span class="track-point"><%= meeting.meeting_room.meeting_room_members.count %></span>Participants Member</div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
