<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_notification_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <%= render "/user_dashboards/sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-title">Notification</div>
          <% if @notifications.present? %>
          <div class="main-notification">
            <!-- <div class="all-notification-close">
            <i aria-hidden="true" class="fa fa-times"></i>
          </div> -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">All</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade in active">
              <div class="notification-box">
                <ul>
                  <% @notifications.each do |notification| %>
                  <li data-notification-id="<%= notification.id %>">
                    <div class="profile"><div class="circle-pic"><img src="/assets/img-3.png"/></div></div>
                    <div class="notes-track">
                      <div class="main-pro-name"><span class="yellow">Vishal Malukani</span> added you as a connection</div>
                      <p><%= notification.notification_text %></p>
                      <span class="time-des"><i aria-hidden="true" class="fa fa-clock-o"></i>9 Hours ago</span>
                    </div>
                    <div class="all-notification-close dismiss-notification">
                      <i aria-hidden="true" class="fa fa-times" data-id="<%= notification.id%>"></i>
                    </div>
                    <!-- <div class="btn-yes-no">
                    <a href="#"><div class="btn btn-green"><i aria-hidden="true" class="fa fa-check"></i>Dismiss</div></a>
                    <a href="#"><div class="btn btn-green red"><i aria-hidden="true" class="fa fa-times"></i>Ignore</div></a>
                  </div> -->
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <% else %>
         <div class="notes-alert">
             <div class="alert alert-warning">
               <strong>No Notification</strong> found.
             </div>
         </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
