<%= content_for :body_class, "dashbord"%>

<%#= react_component('Profile', props: {data: @user_profile, profilable: @user_profile.profilable}) %>

<%= content_for :body_class, "dashbord" %>
<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user_dashboards">Start Bootstrap</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse in" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li class="profile-set active"><a href="#">Profile </a></li>
        <li><a href="#">Connections </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Company <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i aria-hidden="true" class="fa fa-user"></i></span></a>
          <ul class="dropdown-menu user-section">
            <li><a href="#"><%= current_user.name %></a></li>
            <li class="divider" role="presentation"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">create company profile</a></li>
            <li><a href="#">Manage connections</a></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li><a href="#"><i aria-hidden="true" class="fa fa-comments-o"></i></a><div class="top-count">3</div></li>
        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a><div class="top-count notes">4</div></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<!--/header-->

<!--profile-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="short-profile" style="display:none;">
        <ul>
          <li><a href="#"><div class="main-profile"><i class="fa fa-user" aria-hidden="true"></i></div><div class="user-name-short">Shantilal matariya </div><div class="view">View Your Profile</div></a></li>
          <li><a href="#"><div class="main-profile"><i aria-hidden="true" class="fa fa-plug"></i></div><div class="tag-count">0</div><div class="tag-name">Connections</div></a></li>
          <li><a href="#"><div class="main-profile"><i aria-hidden="true" class="fa fa-eye"></i></div><div class="tag-count">5 People</div><div class="tag-name">Visited your profile</div></a></li>
          <li><a href="#"><div class="main-profile"><i class="fa fa-rss" aria-hidden="true"></i></div><div class="tag-count">8 people</div><div class="tag-name">In your network</div> </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--/profile-->
<div class="main-body">
  <div class="container side-deatail" style="transition: none; width: 100%;">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div id="home" style="display:block">
          <div class="tab-title">Profile</div>
          <div class="main-start">
            <div class="box-tab">
              <div class="circle"><i aria-hidden="true" class="fa fa-user"></i></div>
              <h2><i aria-hidden="true" class="fa fa-user"></i><%= current_user.name %></h2>
              <p>Loerm ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <% if current_user.profilable_type == "UserProfile" %>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-industry"></i><%= current_user.profilable.industry %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-briefcase"></i><%= current_user.profilable.profession %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-graduation-cap"></i><%= current_user.profilable.skills %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-lightbulb-o"></i><%= current_user.profilable.something_cool %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-envelope"></i><%= current_user.email %></div>
              <% else %>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-tag"></i><%= current_user.profilable.tagline %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-money"></i><%= current_user.profilable.funds_to_offer %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-file"></i><%= current_user.profilable.description %></div>
                <div class="user-positon"><i aria-hidden="true" class="fa fa-envelope"></i><%= current_user.email %></div>
              <% end %>
              <div class="buttons">
                <a href="#"><div class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                </a>
                <a href="#"><div class="edit share"><i class="fa fa-share" aria-hidden="true"></i></div></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
