<p id="notice"><%= notice %></p>

<h1>Meeting Room Message Documents</h1>

<table>
  <thead>
    <tr>
      <th>Meeting room message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting_room_message_documents.each do |meeting_room_message_document| %>
      <tr>
        <td><%= meeting_room_message_document.meeting_room_message %></td>
        <td><%= link_to 'Show', meeting_room_message_document %></td>
        <td><%= link_to 'Edit', edit_meeting_room_message_document_path(meeting_room_message_document) %></td>
        <td><%= link_to 'Destroy', meeting_room_message_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting Room Message Document', new_meeting_room_message_document_path %>
