<%= simple_form_for(@proposal) do |f| %>
<%= f.error_notification %>
<br>
<div class="col-md-6">
  <div class="form-inputs">
    <%= f.input :proposal_stage_identifier%>
  </div>
  <div class="form-inputs">
    <%= f.input :new_business_model, as: :boolean%>
  </div>
  <div class="form-inputs">
    <%= f.input :new_product, as: :boolean%>
  </div>
  <div class="form-inputs">
    <%= f.input :pitch%>
  </div>
  <div class="form-inputs">
    <%= f.input :introduction%>
  </div>
  <div class="form-inputs">
    <%= f.input :one_year_target_audience%>
  </div>
  <div class="form-inputs">
    <%= f.input :one_year_per_capita_annual_spending%>
  </div>
  <div class="form-inputs">
    <%= f.input :one_year_number_of_users%>
  </div>
  <div class="form-inputs">
    <%= f.input :one_year_penetration_rate%>
  </div>
  <div class="form-inputs">
    <%= f.input :one_year_marketing_strategy%>
  </div>
  <div class="form-inputs">
    <%= f.input :one_year_gross_profit_margin%>
  </div>
  <div class="form-inputs">
    <%= f.input :five_year_target_audience%>
  </div>
  <div class="form-inputs">
    <%= f.input :five_year_per_capita_annual_spending%>
  </div>
  <div class="form-inputs">
    <%= f.input :five_year_number_of_users%>
  </div>
  <div class="form-inputs">
    <%= f.input :five_year_market_cap%>
  </div>
</div>
<div class="col-md-6">
  <div class="form-inputs">
    <%= f.input :five_year_penetration_rate%>
  </div>
  <div class="form-inputs">
    <%= f.input :five_year_marketing_strategy%>
  </div>
  <div class="form-inputs">
    <%= f.input :five_year_gross_profit_margin%>
  </div>
  <div class="form-inputs">
    <%= f.input :competitors_details%>
  </div>
  <div class="form-inputs">
    <%= f.input :competitive_edges%>
  </div>
  <div class="form-inputs">
    <%= f.input :competing_strategy%>
  </div>
  <div class="form-inputs">
    <%= f.input :investment_amount%>
  </div>
  <div class="form-inputs">
    <%= f.input :investment_currency%>
  </div>
  <div class="form-inputs">
    <%= f.input :equity_percentage%>
  </div>
  <div class="form-inputs">
    <%= f.input :spending_plan%>
  </div>
  <div class="form-inputs">
    <%= f.input :next_investment_round%>
  </div>
  <div class="form-actions">
    <%= f.input :enterprise_id, collection: @enterprises.map {|u| [u.name, u.id]} %>
  </div>
  <div class="form-inputs">
    <%= f.input :document, as: :file%>
  </div>
<div>
<div class="col-md-12">
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
<% end %>
