<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_proposals_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <%= render "/user_dashboards/sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade in active">
            <div class="tab-title">Proposals</div>
            <ul class="main-dashbord">
              <% if @proposals.present? %>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><%= "Stage" %></th>
                      <th><%= "New model?" %></th>
                      <th><%= "New Product?" %></th>
                      <th><%= "Pitch" %></th>
                      <th><%= "Dompetitiors Details" %></th>
                      <th><%= "Investment Amount" %></th>
                      <th><%= "Equity Percentage" %></th>
                      <th><%= "Spending Plan" %></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @proposals.each do |proposal| %>
                    <tr>
                      <td><%=h truncate(proposal.proposal_stage_identifier, length: 10) %></td>
                      <td><%=proposal.new_business_model %></td>
                      <td><%=proposal.new_product %></td>
                      <td><%=h truncate(proposal.pitch, length: 10) %></td>
                      <td><%=h truncate(proposal.competitors_details, length: 20) %></td>
                      <td><%=proposal.investment_amount %> <%=proposal.investment_currency %></td>
                      <td><%= proposal.equity_percentage %></td>
                      <td><%=h truncate(proposal.spending_plan, length: 20) %></td>
                      <% if @user.profilable_type == "InvestorProfile" %>
                      <td><%= link_to "Make an offer", new_offer_path %></td>
                        <% if proposal.document_url %>
                        <td><%= link_to "Download document", proposals_download_path(id: proposal.id) %></td>
                        <% end %>
                      <% else %>
                      <td><%= link_to 'Show', proposal %></td>
                      <% if proposal.document_url %>
                      <td><%= link_to "Download document", proposals_download_path(id: proposal.id) %></td>
                      <% end %>
                      <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
                      <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <br>
              <% else %>
                <% if @user.profilable_type == "InvestorProfile" %>
                  <div class="notes-alert">
                    <div class="alert alert-warning">
                      There are no proposlas for you yet. Maybe you are not following any enterprises. Check here.
                    </div>
                  </div>
                <% else %>
                  <div class="notes-alert">
                    <div class="alert alert-warning">
                      You have not created any <strong>Proposal</strong> yet.
                    </div>
                  </div>
                  <div class="pull-right" style="margin-top:5px; margin-bottom:5px">
                    <%= link_to 'New Proposal', new_proposal_path, class: "btn btn-primary" %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
