<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_proposals_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <%= render "/user_dashboards/sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade in active">
            <div class="tab-title">Proposals</div>
            <% unless @user.profilable_type == "InvestorProfile" %>
              <div class="pull-right new-button">
                <%= link_to 'New Proposal', new_proposal_path, class: "btn btn-primary" %>
              </div>
            <% end %>
            <ul class="main-dashbord">
              <% if @proposals.present? %>
              <div class="enterprise-deatils box-tab edit-proposal">
                <ul class="full-details clearfix">
                  <li>
                    <div class="name-enetrprise head-box"><%= "Stage" %></div>
                    <div class="destory head-box"><%= "New model?" %></div>
                    <div class="destory head-box"><%= "New Product?" %></div>
                    <div class="destory head-box"><%= "Pitch" %></div>
                    <div class="destory head-box"><%= "Competitiors Details" %></div>
                    <div class="destory head-box"><%= "Investment" %></div>
                    <div class="destory head-box"><%= "Equity Percentage" %></div>
                    <div class="destory head-box"><%= "Spending Plan" %></div>
                    <div class="destory head-box">Action</div>
                  </li>
                  <% @proposals.each do |proposal| %>
                  <li>
                    <div class="name-enetrprise"><%=h truncate(proposal.proposal_stage_identifier, length: 10) %></div>
                    <div class="destory"><%=proposal.new_business_model %></div>
                    <div class="destory"><%=proposal.new_product %></div>
                    <div class="destory"><%=h truncate(proposal.pitch, length: 10) %></div>
                    <div class="destory"><%=h truncate(proposal.competitors_details, length: 20) %></div>
                    <div class="destory"><%=proposal.investment_amount %> <%=proposal.investment_currency %></div>
                    <div class="destory"><%= proposal.equity_percentage %></div>
                    <div class="destory"><%=h truncate(proposal.spending_plan, length: 20) %></div>
                    <div class="destory">
                      <div class="buttons">
                        <% if proposal.document_url %>
                          <%= link_to proposals_download_path(id: proposal.id), target: "_blank" do %><div class="edit"><i aria-hidden="true" class="fa fa-paperclip"></i></div><% end %>
                        <% end %>
                        <% if @user.profilable_type == "InvestorProfile" %>
                            <%= link_to proposal_view_proposal_path(proposal_id: proposal.id) do %><div class="edit share"><i aria-hidden="true" class="fa fa-eye"></i></div><% end %>
                            <%= link_to new_offer_path do %><div class="edit share"><i aria-hidden="true" class="fa fa-tags"></i></div><% end %>
                        <% else %>
                            <%= link_to proposal do %><div class="edit share"><i aria-hidden="true" class="fa fa-eye"></i></div><% end %>
                            <%= link_to edit_proposal_path(proposal) do %><div class="edit share"><i aria-hidden="true" class="fa fa-pencil"></i></div><% end %>
                            <%= link_to proposal, method: :delete do %><div class="edit share destroy-btn"><i aria-hidden="true" class="fa fa-trash"></i></div><% end %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
              <% else %>
                <% if @user.profilable_type == "InvestorProfile" %>
                  <div class="notes-alert">
                    <div class="alert alert-warning">
                      There are no proposlas for you yet. Maybe you are not following any enterprises. Check here.
                    </div>
                  </div>
                <% else %>
                  <div class="notes-alert">
                    <div class="alert alert-warning">
                      You have not created any <strong>Proposal</strong> yet.
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
