<h1>Proposal</h1>
<p id="notice"><%= notice %></p>
<b>Stage Identifier: </b><%= @proposal.proposal_stage_identifier %></br>
<b>New Business Model: </b><%= @proposal.new_business_model %></br>
<b>New Product: </b><%= @proposal.new_product %></br>
<b>Pitch: </b><%= @proposal.pitch %></br>
<b>Introduction: </b><%= @proposal.introduction %></br>
<b>One Year Target Audience: </b><%= @proposal.one_year_target_audience %></br>
<b>One Year Per Captial Annual Spending: </b><%= @proposal.one_year_per_capita_annual_spending %></br>
<b>One Year number of users: </b><%= @proposal.one_year_number_of_users %></br>
<b>One Year Penetration Rate </b><%= @proposal.one_year_penetration_rate %></br>
<b>One Year Marjketing Strategy: </b><%= @proposal.one_year_marketing_strategy %></br>
<b>One Year gross profit margin: </b><%= @proposal.one_year_gross_profit_margin %></br>
<b>Five Year Taget Audience: </b><%= @proposal.five_year_target_audience %></br>
<b>Five Year Per Capital Annual Spending: </b><%= @proposal.five_year_per_capita_annual_spending %></br>
<b>Five Year number of users:  </b><%= @proposal.five_year_number_of_users %></br>
<b>Five Year Market Capital: </b><%= @proposal.five_year_market_cap %></br>
<b>Five Year Penetration Rate: </b><%= @proposal.five_year_penetration_rate %></br>
<b>Five Year Marketing Strategy: </b><%= @proposal.five_year_marketing_strategy %></br>
<b>Five Year Gross Profit Margin: </b><%= @proposal.five_year_gross_profit_margin %></br>
<b>Competitors Details </b><%= @proposal.competitors_details %></br>
<b>Competitive Edges: </b><%= @proposal.competitive_edges %></br>
<b>Competing Strategy: </b><%= @proposal.competing_strategy %></br>
<b>Investment Amount: </b><%= @proposal.investment_amount %></br>
<b>Investment Currency: </b><%= @proposal.investment_currency %></br>
<b>Equity Percentage: </b><%= @proposal.equity_percentage %></br>
<b>Spending Plan: </b><%= @proposal.spending_plan %></br>
<b>Next Investment Round: </b><%= @proposal.next_investment_round %></br>
<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
