<div class="box-tab">
  <div class="all-notification-close">
    <%= link_to offers_path do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  </div>
  <%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>
   <div class="form-group">
      <h2><span class="name notes"><i class="fa fa-tags" aria-hidden="true"></i>Offer Title</span><%= f.input :offer_title %></h2>
    </div>
    <div class="form-group">
      <div class="set-view-deatils">
      <p><span class="name notes"><i aria-hidden="true" class="fa fa-bank"></i>Text</span> <%= f.input :text %></p>
      </div>
    </div>
    <div class="form-group">
      <div class="set-view-deatils">
      <p><span class="name notes"><i aria-hidden="true" class="fa fa-bank"></i>Description</span> <%= f.input :description %></p>
      </div>
    </div>

    <div class="form-group">
     <div class="user-positon"><span class="name notes"><i class="fa fa-money" aria-hidden="true"></i>Amount To offer</span><%= f.input :amount_to_offer %></div>
   </div>
    <div class="form-group">
      <div class="user-positon"><span class="name notes"><i class="fa fa-usd" aria-hidden="true"></i>proposal</span><%= f.input :proposal_id, collection: @proposals.map {|u| [u.pitch, u.id]}, prompt: "Choose a Proposal" %></div>
    </div>
      <div class="event-btn">
       <%= f.button :submit, class: "btn btn-primary" %>
     <% end %>
</div></div>
