<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_offers_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <%= render "/user_dashboards/sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade editable-contact-info active in edit-mode-enabled">
            <div class="tab-title">Editing Offers</div>
            <ul class="main-dashbord">
              <%= render 'form', offer: @offer %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
