<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_offers_class, "active" %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <%= render "/user_dashboards/sidebar" %>
  <div class="container side-deatail">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade in active">
            <div class="tab-title">Offers</div>
            <% if @user.profilable_type == "InvestorProfile" %>
            <% if @offers.present? %>
            <ul class="main-dashbord">
              <table>
                <thead>
                  <tr>
                    <th>Offer title</th>
                    <th>Text</th>
                    <th>Description</th>
                    <th>Amount to offer</th>
                    <th>Proposal</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @offers.each do |offer| %>
                    <tr>
                      <td><%= offer.offer_title %></td>
                      <td><%= offer.text %></td>
                      <td><%= offer.description %></td>
                      <td><%= offer.amount_to_offer %></td>
                      <td><%= offer.proposal.pitch %></td>
                      <td><%= link_to 'Show', offer %></td>
                      <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
                      <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </ul>
            <% else %>
              <div class="notes-alert">
                  <div class="alert alert-warning">
                    You have not created any <strong>Offer</strong> yet.
                  </div>
              </div>
            <% end %>
            <div class="pull-right" style="margin-top:5px; margin-bottom:5px">
              <%= link_to 'New Offer', new_offer_path, class: "btn btn-primary" %>
            </div>
            <% else %>
            <div class="notes-alert">
                <div class="alert alert-warning">
                  You have no <strong>offers</strong> yet.
                </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
