<%= simple_form_for(@enterprise) do |f| %>
  <%= f.error_notification %>
  <table class="table table-inversed" style="border-style:none">
    <tr>
      <!-- <td>Name:</td> -->
      <td><%= f.input :name%></td>
    </tr>
    <tr>
      <!-- <td>Pitch:</td> -->
      <td><%= f.input :pitch%></td>
    </tr>
    <tr>
      <!-- <td>Funds To Raise:</td> -->
      <td><%= f.input :funds_to_raise%></td>
    </tr>
    <tr>
      <!-- <td>Industry:</td> -->
      <td><%= f.input :industry%></td>
    </tr>
    <tr>
      <!-- <td>Enterprise Stage:</td> -->
      <td><%= f.input :enterprise_stage%></td>
    </tr>
    <tr>
      <!-- <td>Location:</td> -->
      <td><%= f.input :location%></td>
    </tr>
    <tr>
      <!-- <td>Stage Identifier:</td> -->
      <td><%= f.input :stage_identifier%></td>
    </tr>
    <tr>
      <!-- <td>Market Identifier:</td> -->
      <td><%= f.input :market_identifier %></td>
    </tr>
    <tr>
      <!-- <td>Descrtiption:</td> -->
      <td><%= f.input :description%></td>
    </tr>
  </table>
  <br><br>

  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
  <div class='box-tab prepend-type'>
    <div class='all-notification-close'><i class='fa fa-times' aria-hidden='true'></i></div>
    <div class='form-group'><h2><span class='name notes'><i class='fa fa-user' aria-hidden='true'></i>Name</span><%= f.input :name%></h2></div>
    <div class='form-group'><div class='set-view-deatils'><p><span class='name notes'><i aria-hidden='true' class='fa fa-bank'></i>Pitch</span><%= f.input :pitch%></p></div></div>
    <div class='form-group'><div class='user-positon'><span class='name notes'><i class='fa fa-money' aria-hidden='true'></i>Funds to raise</span><%= f.input :funds_to_raise%></div></div>
    <div class='form-group'><div class='user-positon'><span class='name notes'><i class='fa fa-industry' aria-hidden='true'></i>Industry</span><%= f.input :industry%></div></div>
    <div class='form-group'><div class='user-positon'><span class='name notes'><i class='fa fa-star-half-o' aria-hidden='true'></i>Enterprise stage</span><%= f.input :enterprise_stage%></div></div>
    <div class='form-group'><div class='user-positon'><span class='name notes'><i class='fa fa-map-marker' aria-hidden='true'></i>Location</span><%= f.input :location%></div></div>
    <div class='form-group'><div class='user-positon'><span class='name notes'><i class='fa fa-lightbulb-o' aria-hidden='true'></i>Stage identifer</span><%= f.input :stage_identifier%></div></div>
    <div class='form-group'><div class='user-positon'><span class='name notes'><i class='fa fa-plane' aria-hidden='true'></i>market identifer</span><%= f.input :market_identifier %></div></div>
    <div class='form-group'><div class='set-view-deatils'><p><span class='name notes'><i class='fa fa-eye' aria-hidden='true'></i>Description</span><%= f.input :description%></p></div></div>
    <div class='event-btn'>
      <button class='btn btn-primary' id='defaultSave' type='button'>Save</button>
      <button class='btn btn-default js-cancel' type='button'>Cancel</button>
    </div>
    <div class='add-form'>
      <div class='btn-yes-no'>
        <a href='#'>
          <div class='btn btn-green'>Add enterprse</div>
        </a>
      </div>
    </div>
  </div>
<% end %>
