<%= simple_form_for(@enterprise) do |f| %>
  <%= f.error_notification %>

  <div class='box-tab prepend-type'>
    <div class='all-notification-close'><%= link_to enterprises_path do %><i class='fa fa-times' aria-hidden='true'></i><% end %></div>
    <div class='circle'>
      <div class="go-top">
        <%= f.input :logo, as: :file, label: false %>
        <a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a>
      </div>
      <%= image_tag @enterprise.logo_thumb, id: "enterprise_image" %>

    </div>
    <div class="form-group error">
      <%= f.error :logo, id: 'photo_error', class: "error-p" %>
    </div>
    <div class='form-group optional-tips'>
      <h2><span class='name notes'><i class='fa fa-user' aria-hidden='true'></i>Name</span><%= f.input :name, placeholder: "Enterprise Name" %></h2>
    </div>
    <div class='form-group optional-tips'>
      <div class='set-view-deatils'><p><span class='name notes'><i aria-hidden='true' class='fa fa-bank'></i>Pitch</span>
        <%= f.input :pitch, placeholder: "Pitch for Enterprise" %></p>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='user-positon'><span class='name notes'><i class='fa fa-money' aria-hidden='true'></i>Funds to raise</span>
        <%= f.input :funds_to_raise, placeholder: "Funds to Raise" %>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='user-positon'><span class='name notes'><i class='fa fa-industry' aria-hidden='true'></i>Industry</span>
        <%= f.input :industry, placeholder: "Industry" %>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='user-positon'><span class='name notes'><i class='fa fa-star-half-o' aria-hidden='true'></i>Enterprise stage</span>
        <%= f.input :enterprise_stage, placeholder: "Enterprise Stage"%>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='user-positon'><span class='name notes'><i class='fa fa-map-marker' aria-hidden='true'></i>Location</span>
        <%= f.input :location, placeholder: "Location" %>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='user-positon'><span class='name notes'><i class='fa fa-lightbulb-o' aria-hidden='true'></i>Stage identifer</span>
        <%= f.input :stage_identifier, collection: Enterprise.stages.map {|identfier| [identfier[1], identfier[0]]}, prompt: "Select One" %>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='user-positon'><span class='name notes'><i class='fa fa-plane' aria-hidden='true'></i>Market Identifer</span>
        <%= f.input :market_identifier, collection: Enterprise.markets.map {|identfier| [identfier[1], identfier[0]]}, prompt: "Select One" %>
      </div>
    </div>
    <div class='form-group optional-tips'>
      <div class='set-view-deatils'><p><span class='name notes'><i class='fa fa-eye' aria-hidden='true'></i>Description</span>
        <%= f.input :description%></p>
      </div>
    </div>
    <div class='event-btn'>
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var file = input.files[0];
      var fileType = file["type"];
      var ValidImageTypes = ["image/gif", "image/jpeg", "image/png"];
      if ($.inArray(fileType, ValidImageTypes) <= 0) {
        $('.form-group.error').append('<span class="error-p">You can only upload images. (.gif, .jpeg, .png)</span>');
      }
      else
      {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#enterprise_image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  }

  $("#enterprise_logo").change(function(){
    $('.form-group.error').find('span').remove();
    readURL(this);
  });
</script>
