<div id='meetingModal1' class='modal' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h4 class='modal-title'>Meeting Request</h4>
      </div>
      <%= form_tag meeting_request_meetings_path(requested_client_id: id), remote: true do %>
          <div class='modal-body'>
            <p class='title-modal'>Hello, <%= name %>. Can we setup a meeting?</p>
            <div class='well'>
              <div class='form-control-wrapper'>
                <%= text_field_tag 'topic', '', class: 'form-control', placeholder: 'Topic' %>
                <p style='color: red' id='message_error'></p>
                <p id='datepairExample'>
                  <%= text_field_tag 'meeting_date', '', class: 'date start form-control', placeholder: 'Date' %>
                </p>
              </div>
            </div>
          </div>
          <div class='modal-footer'>
            <div class='terminals'>
              <div class='btn-yes-no'>
                <%= submit_tag 'Send', class: 'remodal-confirm btn btn-primary', id: 'message_send' %>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
