<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_enterprises_class, 'active' %>

<%= render "/user_dashboards/profile" %>
<div class="main-body">
  <div class="container side-deatail">
    <div class="col-xs-3">
    <%= render "/user_dashboards/sidebar" %>
  </div>
    <div class="col-xs-9">
      <div class="profile-tabs">
        <div class="tab-content">
          <div class="tab-pane fade in active">

            <% if @user.profilable_type == "InvestorProfile" %>
              <% if @enterprises.present? %>
                <div class="enterprise-deatils box-tab">
                  <ul class="full-details clearfix">
                    <% @enterprises.each do |enterprise| %>
                    <li>
                      <div class="name-enetrprise"><%= link_to enterprise.name, public_profile_enterprises_path(enterprise: enterprise) %></div>
                    </li>
                    <% end %>
                  </ul>
                </div>
              <% else %>
                <div class="notes-alert">
                  <div class="alert alert-warning">
                    You are not following any <strong>enterprises</strong> yet.
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="new-button">
                <%= link_to 'New Enterprise', new_enterprise_path, class: "btn btn-primary" %>
              </div>
              <% if @enterprises.present? %>
                <div class="enterprise-deatils box-tab">
                  <ul class="full-details clearfix">
                    <li><div class="name-enetrprise head-box">Name</div><div class="destory head-box">Action</div></li>
                    <% @enterprises.each do |enterprise| %>
                      <li>
                        <div class="name-enetrprise"><%= link_to enterprise.name, enterprise_path(enterprise) %></div>
                        <div class="destory">
                          <% if enterprise.enterprise_users.find_by(member_title: "Founder").user.id == current_user.id %>
                            <%= link_to enterprise, method: :delete do %><div class="edit share destroy-btn"><i aria-hidden="true" class="fa fa-trash"></i></div><% end %>
                            <%= link_to edit_enterprise_path(enterprise) do %><div class="edit"><span class="pencil-view"> <i aria-hidden="true" class="fa fa-pencil"></i></span></div><% end %>
                          <% else %>
                            <p>Sorry. You cannot perform any actions for this enterprise.</p>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% else %>
                <div class="notes-alert">
                  <div class="alert alert-warning">
                    You have not created any <strong>Enterprises</strong> yet.
                  </div>
                </div>
              <% end %>
            <% end %>
            <% current_user.invitations.where(acceptance_status: "requested").each do |invitation| %>
              <div>
                <p><%= invitation.enterprise.name %></p>
                <%= link_to "Accept", invitation_status_enterprises_path(id: invitation.id, status: 1) %>
                <%= link_to "Reject", invitation_status_enterprises_path(id: invitation.id, status: 0) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
