<%= content_for :body_class, "dashbord" %>
<%= content_for :sidebar_enterprises_class, 'active' %>

<div class="main-body">
  <%= render "/user_dashboards/profile" %>
  <div class="container side-deatail">
    <div class="col-xs-3">
      <%= render "/user_dashboards/sidebar" %>
    </div>
    <div class="col-xs-9">
      <div class="profile-tabs">
        <div class="tab-content">
            <%= render "user_dashboards/title_bar", type: "Companies" %>
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#all-enterprises">All Enterprises</a></li>
              <% if @user.profilable_type == "UserProfile" %>
                <li><a data-toggle="tab" href="#enterprises-requests">Enterprise Invitations</a></li>
              <% end %>
            </ul>
            <div id="all-enterprises" class="tab-pane fade in active">
            <% if @user.profilable_type == "InvestorProfile" %>
                <% if @enterprises.present? %>
                    <div class="enterprise-deatils box-tab">
                      <ul class="full-details clearfix">
                        <% @enterprises.each do |enterprise| %>
                            <li id="user_<%= enterprise.id %>" class="clickable-row" data-href='<%= enterprise_path(enterprise) %>'>
                              <div>
                                <%= render "global_partials/company_profile_plug", enterprise: enterprise do %>
                                    <div class="tag-btn-view" id="meeting-schedule" data-id=<%= enterprise.id %> data-name="<%= enterprise.name %>" style="display: table-cell; padding-left: 10px; width: auto">
                                      <div><%= link_to 'Meetings'.html_safe, "#meetingModal1", 'data-toggle': "modal", style: "color: #fff; text-decoration: none;" %></div>
                                    </div>
                                <% end %>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="text-center">
                      <%= will_paginate @enterprises %>
                    </div>
                <% else %>
                    <div class="notes-alert">
                      <div class="alert alert-warning">
                        You are not following any <strong>enterprises</strong> yet.
                      </div>
                    </div>
                <% end %>
            <% else %>
                <div class="new-button">
                  <%= link_to 'New Enterprise', new_enterprise_path, class: "btn btn-primary" %>
                </div>
                <% if @enterprises.present? %>
                    <div class="enterprise-deatils box-tab">
                      <ul class="full-details clearfix">
                        <% @enterprises.each do |enterprise| %>
                            <li id="user_<%= enterprise.id %>" class="clickable-row" data-href='<%= enterprise_path(enterprise) %>'>
                              <%= render "global_partials/company_profile_plug", enterprise: enterprise %>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="text-center">
                      <%= will_paginate @all_users %>
                    </div>
                <% else %>
                    <div class="notes-alert">
                      <div class="alert alert-warning">
                        You have not created any <strong>Enterprises</strong> yet.
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
          <% if @user.profilable_type == "UserProfile" %>
            <div id="enterprises-requests" class="tab-pane fade">
              <% if @requests.any? %>
                <div class="notification-box">
                  <ul>
                    <% @requests.each do |invitation| %>
                      <li>
                        <div class="profile"><div class="circle-pic"><img src="/assets/img-3.png"/></div></div>
                        <div class="notes-track">
                          <div class="main-pro-name"><%=raw invitation.enterprise.name %></div>
                        </div>
                        <div class="btn-yes-no">
                          <%= link_to invitation_status_enterprises_path(id: invitation.id, status: 1) do %><div class="btn btn-green"><i aria-hidden="true" class="fa fa-check"></i>Accept</div><% end %>
                          <%= link_to link_to "Reject", invitation_status_enterprises_path(id: invitation.id, status: 0) do %><div class="btn btn-green red"><i aria-hidden="true" class="fa fa-times"></i>Ignore</div><% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% else %>
                <div class="notes-alert">
                  <div class="alert alert-warning">
                    You do not have any <strong>Enterprise Invitations</strong> at the current moment.
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="popover-schedule"></div>

<script>
  function reload_time(val1) {
    $('#datepairExample .time.end').timepicker({
      'showDuration': true,
      'timeFormat': 'G:i',
      'minTime': (parseInt(val1.split(":")[0]) + 1).toString() + ":" + val1.split(":")[1]
    }).val((parseInt(val1.split(":")[0]) + 1).toString() + ":" + val1.split(":")[1]);
  }

  $('div.follow').click( function(event) {
    var innerText = $.trim($(this).text()).toLowerCase();
    if (innerText == "Follow".toLowerCase()){
      $(this).text("Unfollow");
    } else {
      $(this).text("Follow");
    }
  });
</script>

<script>
  $("div#meeting-schedule").click(function () {
    var id = $(this).data("id");
    var name = $(this).data("name");
    var data = "<%= @overlay_partial.html_safe %>";
    data = data.replace("id-99858", id);
    data = data.replace("name-996854", name);
    $("#popover-schedule").html(data);
  });

  $('#meetingModal1').on('hidden.bs.modal', function () {
    $(this).find('input[type=text]').val('');
  });

  $('#popover-schedule').on('shown.bs.modal', function () {


    '<% if current_user.profilable_type == "InvestorProfile" %>'
    var array1 = <%= [*0..(Date::DAYNAMES.length-1)] %>;
    var array = $.map(array1, function (value, index) {
      return [value];
    });
    '<% current_user.profilable.admin_meeting_schedules.each do |meeting| %>'
    var index = '<%= Date::DAYNAMES.find_index(meeting.day).to_i %>';
    array.splice(array.indexOf(parseInt(index)), 1);
    '<% end %>'

    $("#message_send").click(function (e) {
      if ($("#meeting_date").val() == ""){
        e.preventDefault();
        $("#meeting_date").css("border", "1px solid red");
        $("#datepairExample").append("<p id='meeting_date_error' style='color:red'>Select the meeting date.</p>")
      }else{
        $("#meeting_date").css("border", "1px solid #ccc");
      }
      if ($("#meeting_start_time").length == 1){
        if ($("#meeting_start_time").val()== ""){
          e.preventDefault();
          $("#meeting_start_time").css("border", "1px solid red");
          $("#datepairExample").append("<p id='meeting_time_error' style='color:red'>Select the meeting time.</p>")
        }else{
          $("#meeting_time_error").remove();
        }
      }
    });
    $("#meeting_date").change(function(){
      if ($("#meeting_date_error").length == 1){
        $("#meeting_date_error").remove();
        $("#meeting_date").css("border","1px solid #ccc");
      }
    });
    var el = $('<%= text_field_tag "meeting_start_time",'', class: "time start", placeholder: "Starting Time" %>');

    el.change(function(){
      // alert("hello");
      if($("#meeting_time_error").length == 1){
        $("#meeting_time_error").remove();
        $("#meeting_start_time").css("border","1px solid #ccc");
      }
    });


    $('#datepairExample .date').datepicker({
      'format': 'yyyy-m-d',
      'autoclose': true,
      'daysOfWeekDisabled': array,
      // startDate: "today" To start date from today.
      startDate: "+1d" // To start date from next available date.
    }).on('changeDate', function () {
      $(this).addClass("new-date-start");
      var a = new Date($("#meeting_date").val());
      var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var day = weekdays[parseInt(a.getDay())];
      '<% current_user.profilable.admin_meeting_schedules.each do |day| %>'
      if ('<%= day.day %>' == day) {
        if (array1.indexOf(a.getDay().toString()) > -1) {
        } else {
          $(".form-control-wrapper #datepairExample").find(".time.start").remove();
          $(".form-control-wrapper #datepairExample").find(".time.end").remove();
          $(".form-control-wrapper #datepairExample").find("div").remove();

          $(".form-control-wrapper #datepairExample").append(el);

          initialize_timepicker('<%= day.start_time.strftime("%H:%M")%>', '<%= day.end_time.strftime("%H:%M")%>');
          // alert("invalid");
        }
      } else {
      }
      '<% end %>'
      '<% end %>'

    });
    function initialize_timepicker(startTime, endTime) {
      $('#datepairExample .time.start').timepicker({
        'showDuration': true,
        'timeFormat': 'G:i',
        'minTime': startTime,
        'maxTime': endTime
      }).on('change', function () {
        // console.log((parseInt($(this).val().split(":")[0])+1).toString() + ":" + $(this).val().split(":")[1]);
        reload_time($(this).val());
      });
    }

    $('#datepairExample .time.start').timepicker().on('change', function () {
      reload_time($(this).val());
    });
    // initialize datepair
    $('#datepairExample').datepair();
  });
</script>
