<%= content_for :body_class, "dashbord" %>
<div class="main-body">
  <!--pro-side-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-lane">
          <%= image_tag @enterprise.logo_full %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="body-panel">
          <div class="main-pro">
            <%= image_tag @enterprise.logo_avatar %>
          </div>
          <h3><%= @enterprise.name %></h3>
          <div class="buttons pro-1">
            <% if @enterprise.all_users.include?(@user) %>
            <div class="edit"><%= link_to edit_enterprise_path(@enterprise) do %><i class="fa fa-pencil" aria-hidden="true"></i><% end %></div>
            <div class="edit"><%= link_to enterprise_path(@enterprise), method: :delete do %><i class="fa fa-trash" aria-hidden="true"></i><% end %></div>
            <% end %>
            <% if @user.profilable_type == "InvestorProfile" %>
                <div class="edit"><%= link_to '<i class="fa fa-users" aria-hidden="true"></i>'.html_safe, "#meetingModal1", 'data-toggle': "modal" %></div>
            <% end %>
              <div class="edit"><%= link_to "#" do %><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><% end %></div>
          </div>
          <div class="main-details">
            <ul>
              <li>Pitch <span class="pull-right"><%= @enterprise.pitch %></span></li>
              <li>Funds To Raise <span class="pull-right"><%= @enterprise.funds_to_raise %></span></li>
              <li>Industry <span class="pull-right"><%= @enterprise.industry %></span></li>
              <li>Enterprise Stage <span class="pull-right"><%= @enterprise.enterprise_stage %></span></li>
              <li>Stage Identifier <span class="pull-right"><%= @enterprise.stage_identifier %></span></li>
              <li>Market Identifier <span class="pull-right"><%= @enterprise.market_identifier %></span></li>
              <li>Location <span class="pull-right"><%= @enterprise.location %></span></li>
              <li>Followers <span class="pull-right"><%= @enterprise.followers_count %></span></li>
              <li>Following <span class="pull-right"><%= @enterprise.followed_count %></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#people">People</a></li>
          <% if @enterprise.all_users.include?(@user) %>
            <li><a data-toggle="tab" href="#meeting">Meetings</a></li>
          <% end %>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>Description</h3>
            <p><%= @enterprise.description %></p>
          </div>
          <div id="people" class="tab-pane fade">
            <h3>People</h3>
            <ul class="full-details clearfix" id="connections_list">
              <% @people.each do |user| %>
                  <li id="user_<%= user.id %>" class="clickable-row" data-href='/user_profiles/<%= current_user.id %>?suggested_profile=<%= user.id %>'>
                    <%= render "global_partials/user_profile_plug", user: user %>
                  </li>
              <% end %>
            </ul>
          </div>
          <% if @enterprise.all_users.include?(@user) %>
            <div id="meeting" class="tab-pane fade">
              <h3>Meetings</h3>
              <ul class="full-details clearfix" id="connections_list">
                <% @enterprise.meetings.each do |meeting| %>
                  <li>
                    <%= render "global_partials/meeting_plug", meeting: meeting %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--/proside-->
</div>

<%= render "enterprises/meeting_schedule_popover", id: @enterprise.id, name: @enterprise.name %>

<script>
  $(document).ready(function () {
    '<% if current_user.profilable_type == "InvestorProfile" %>'
    var array1 = <%= [*0..(Date::DAYNAMES.length-1)] %>;
    var array = $.map(array1, function (value, index) {
      return [value];
    });
    '<% current_user.profilable.admin_meeting_schedules.each do |meeting| %>'
    var index = '<%= Date::DAYNAMES.find_index(meeting.day).to_i %>';
    array.splice(array.indexOf(parseInt(index)), 1);
    '<% end %>'

    $("#message_send").click(function (e) {
      if ($("#meeting_date").val() == ""){
        e.preventDefault();
        $("#meeting_date").css("border", "1px solid red");
        $("#datepairExample").append("<p id='meeting_date_error' style='color:red'>Select the meeting date.</p>")
      }else{
        $("#meeting_date").css("border", "1px solid #ccc");
      }
      console.log($("#meeting_start_time").length);
      if ($("#meeting_start_time").length == 1){
        if ($("#meeting_start_time").val()== ""){
          e.preventDefault();
          $("#meeting_start_time").css("border", "1px solid red");
          $("#datepairExample").append("<p id='meeting_time_error' style='color:red'>Select the meeting time.</p>")
        }else{
          $("#meeting_time_error").remove();
        }
      }
    });
    $("#meeting_date").change(function(){
      if ($("#meeting_date_error").length == 1){
        $("#meeting_date_error").remove();
        $("#meeting_date").css("border","1px solid #ccc");
      }
    });
    var el = $('<%= text_field_tag "meeting_start_time",'', class: "time start", placeholder: "Starting Time" %>');
    el.change(function(){
      if($("#meeting_time_error").length == 1){
        $("#meeting_time_error").remove();
        $("#meeting_start_time").css("border","1px solid #ccc");
      }
    });

    $('#datepairExample .date').datepicker({
      'format': 'yyyy-m-d',
      'autoclose': true,
      'daysOfWeekDisabled': array,
      // startDate: "today" To start date from today.
      startDate: "+1d" // To start date from next available date.
    }).on('changeDate', function () {
      $(this).addClass("new-date-start");
      var a = new Date($("#meeting_date").val());
      var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var day = weekdays[parseInt(a.getDay())];
      '<% current_user.profilable.admin_meeting_schedules.each do |day| %>'
      if ('<%= day.day %>' == day) {
        if (array1.indexOf(a.getDay().toString()) > -1) {
        } else {
          $(".form-control-wrapper #datepairExample").find(".time.start").remove();
          $(".form-control-wrapper #datepairExample").find(".time.end").remove();
          $(".form-control-wrapper #datepairExample").find("div").remove();

          $(".form-control-wrapper #datepairExample").append(el);

          initialize_timepicker('<%= day.start_time.strftime("%H:%M")%>', '<%= day.end_time.strftime("%H:%M")%>');
          // alert("invalid");
        }
      } else {
      }
      '<% end %>'
      '<% end %>'

    });
    function initialize_timepicker(startTime, endTime) {
      $('#datepairExample .time.start').timepicker({
        'showDuration': true,
        'timeFormat': 'G:i',
        'minTime': startTime,
        'maxTime': endTime
      }).on('change', function () {
        // console.log((parseInt($(this).val().split(":")[0])+1).toString() + ":" + $(this).val().split(":")[1]);
        reload_time($(this).val());
      });
    }

    $('#datepairExample .time.start').timepicker().on('change', function () {
      reload_time($(this).val());
    });
    // initialize datepair
    $('#datepairExample').datepair();
  });
</script>

<script>
  function reload_time(val1) {
    $('#datepairExample .time.end').timepicker({
      'showDuration': true,
      'timeFormat': 'G:i',
      'minTime': (parseInt(val1.split(":")[0]) + 1).toString() + ":" + val1.split(":")[1]
    }).val((parseInt(val1.split(":")[0]) + 1).toString() + ":" + val1.split(":")[1]);
  }

  $('div.follow').click( function(event) {
    var innerText = $.trim($(this).text()).toLowerCase();
    if (innerText == "Follow".toLowerCase()){
      $(this).text("Unfollow");
    } else {
      $(this).text("Follow");
    }
  });
</script>

<script>
  $('#meetingModal1').on('hidden.bs.modal', function () {
    $(this).find('input[type=text]').val('');
  });
</script>
