<%= content_for :body_class, "dashbord" %>
<div class="main-body">
  <!--pro-side-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-lane">
          <%= image_tag @enterprise.logo_full %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="buttons">
          <% if current_user.profilable_type == "InvestorProfile" %>
              <div class="edit" style="float: right"><%= link_to '<i class="fa fa-users" aria-hidden="true"></i>'.html_safe, "#meetingModal1", 'data-toggle': "modal" %></div>
          <% end %>
        </div>
        <div class="body-panel">
          <div class="main-pro">
            <%= image_tag @enterprise.logo_avatar %>
          </div>
          <h3><%= @enterprise.name %></h3>
          <p><%= @enterprise.description %></p>
          <div class="main-details">
            <ul>
              <li>Pitch <span class="pull-right"><%= @enterprise.pitch %></span></li>
              <li>Funds To Raise <span class="pull-right"><%= @enterprise.funds_to_raise %></span></li>
              <li>Industry <span class="pull-right"><%= @enterprise.industry %></span></li>
              <li>Enterprise Stage <span class="pull-right"><%= @enterprise.enterprise_stage %></span></li>
              <li>Stage Identifier <span class="pull-right"><%= @enterprise.stage_identifier %></span></li>
              <li>Market Identifier <span class="pull-right"><%= @enterprise.market_identifier %></span></li>
              <li>Location <span class="pull-right"><%= @enterprise.location %></span></li>
              <li>Followers <span class="pull-right"><%= @enterprise.followers_count %></span></li>
              <li>Following <span class="pull-right"><%= @enterprise.followed_count %></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#people">People</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>Description</h3>
            <p><%= @enterprise.description %></p>
          </div>
          <div id="people" class="tab-pane fade">
            <h3>People</h3>
            <ul class="full-details clearfix" id="connections_list">
              <% @people.each do |user| %>
                  <li id="user_<%= user.id %>" class="clickable-row" data-href='/user_profiles/<%= current_user.id %>?suggested_profile=<%= user.id %>'>
                    <div class="pro-tags-in">
                      <%= image_tag user.photo_avatar %>
                    </div>
                    <div class="deatails-module">
                      <h3><%= user.name %></h3>
                      <div class="tag-line-des treck">
                        <i class="fa fa-briefcase" aria-hidden="true"></i><%= user.profilable.profession %> </div>
                      <div class="tag-line-des">
                        <i aria-hidden="true" class="fa fa-tags"></i> <%= truncate(user.profilable.something_cool, length: 80, separator: ' ') %>
                      </div>
                      <div class="tag-btn-view">
                        <div id="follow_<%= user.id %>" class="follow" data-id='<%= "#{user.id}" %>' data-type='<%= "#{user.profilable_type}" %>'>
                          <%= current_user.is_following?(user) ? "Unfollow" : "Follow" %>
                        </div>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/proside-->
</div>


<!-- Modal -->
<div id="meetingModal1" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Meeting Request</h4>
      </div>
      <%= form_tag meeting_request_meetings_path(requested_client_id: @enterprise.id), remote: true do %>
          <div class="modal-body">
            <p class="title-modal">Hello, <%= @enterprise.name %>. Can we setup a meeting?</p>
            <div class="well">
              <div class="form-control-wrapper">
                <%= text_field_tag "topic", '', class: "form-control", placeholder: "Topic" %>
                <p style="display:none; color: red" id="message_error">Blank message can not be sent!!!</p>
                <p id="datepairExample">
                  <%= text_field_tag "meeting_date", '', class: "date start form-control", placeholder: "Date" %>
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="terminals">
              <div class="btn-yes-no">
                <%= submit_tag "Send", class: "remodal-confirm btn btn-primary", id: "message_send" %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    '<% if current_user.profilable_type == "InvestorProfile" %>'
    var array1 = <%= [*0..(Date::DAYNAMES.length-1)] %>;
    var array = $.map(array1, function (value, index) {
      return [value];
    });
    '<% current_user.profilable.admin_meeting_schedules.each do |meeting| %>'
    var index = '<%= Date::DAYNAMES.find_index(meeting.day).to_i %>';
    array.splice(array.indexOf(parseInt(index)), 1);
    '<% end %>'

    $("#message_send").click(function (e) {
      if ($("#topic").val() == '') {
        e.preventDefault();
        $("#message_error").css("display", "block");
        $("#topic").css("border", "red solid 1px");
      }
    });

    $('#datepairExample .date').datepicker({
      'format': 'yyyy-m-d',
      'autoclose': true,
      'daysOfWeekDisabled': array,
      // startDate: "today" To start date from today.
      startDate: "+1d" // To start date from next available date.
    }).on('changeDate', function () {
      $(this).addClass("new-date-start");
      var a = new Date($("#meeting_date").val());
      var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var day = weekdays[parseInt(a.getDay())];
      '<% current_user.profilable.admin_meeting_schedules.each do |day| %>'
      if ('<%= day.day %>' == day) {
        if (array1.indexOf(a.getDay().toString()) > -1) {
        } else {
          $(".form-control-wrapper #datepairExample").find(".time.start").remove();
          $(".form-control-wrapper #datepairExample").find(".time.end").remove();
          $(".form-control-wrapper #datepairExample").find("div").remove();

          $(".form-control-wrapper #datepairExample").append('<%= text_field_tag "meeting_start_time",'', class: "time start", placeholder: "Starting Time" %>')

          initialize_timepicker('<%= day.start_time.strftime("%H:%M")%>', '<%= day.end_time.strftime("%H:%M")%>');
          // alert("invalid");
        }
      } else {
      }
      '<% end %>'
      '<% end %>'

    });
    function initialize_timepicker(startTime, endTime) {
      $('#datepairExample .time.start').timepicker({
        'showDuration': true,
        'timeFormat': 'G:i',
        'minTime': startTime,
        'maxTime': endTime
      }).on('change', function () {
        // console.log((parseInt($(this).val().split(":")[0])+1).toString() + ":" + $(this).val().split(":")[1]);
        reload_time($(this).val());
      });
    }

    $('#datepairExample .time.start').timepicker().on('change', function () {
      reload_time($(this).val());
    });
    // initialize datepair
    $('#datepairExample').datepair();
  });
</script>

<script>
  function reload_time(val1) {
    $('#datepairExample .time.end').timepicker({
      'showDuration': true,
      'timeFormat': 'G:i',
      'minTime': (parseInt(val1.split(":")[0]) + 1).toString() + ":" + val1.split(":")[1]
    }).val((parseInt(val1.split(":")[0]) + 1).toString() + ":" + val1.split(":")[1]);
  }
</script>

<script>
  $('#meetingModal1').on('hidden.bs.modal', function () {
    $(this).find('input[type=text]').val('');
  });
</script>
