<%= content_for :body_class, "dashbord" %>
<div class="main-body">
  <div class="container side-deatail" style="transition: none; width: 100%;">
    <div class="col-xs-12">
      <div class="profile-tabs">
        <div id="home" class="editable-contact-info edit-mode-disabled">
          <div class="enterprise-deatils">
            <div class="box-tab">
              <div class="all-notification-close">
                <%= link_to enterprises_path do %>
                  <i aria-hidden="true" class="fa fa-times"></i>
                <% end %>
              </div>
              <div class="buttons">
                <% if current_user.profilable_type == "InvestorProfile"%>
                  <div class="edit"><%= link_to '<i class="fa fa-users" aria-hidden="true"></i>'.html_safe, "#meetingModal1", 'data-toggle': "modal" %></div>
                <% end %>
                <% if @enterprise.enterprise_users.find_by(member_title: "Founder").user.id == current_user.id %>
                  <%= link_to edit_enterprise_path(@enterprise) do %>
                    <div class="edit"><i aria-hidden="true" class="fa fa-pencil"></i></div>
                  <% end %>
                <% end %>
              </div>
              <div class="form-group">
                <div class="circle">
                  <%= image_tag @enterprise.logo_avatar %>
                </div>
              </div>
              <div class="form-group">
                <h2><span class="name notes"><i aria-hidden="true" class="fa fa-user"></i>Name</span><span class="display-mode-value"><%= @enterprise.name %></span></h2>
              </div>
              <div class="form-group">
                <div class="set-view-deatils">
                  <p><span class="name notes"><i class="fa fa-bank" aria-hidden="true"></i>Pitch</span><span class="display-mode-value"><%= @enterprise.pitch %></span></p>
                </div>
              </div>
              <div class="form-group">
                <div class="user-positon"><span class="name notes"><i aria-hidden="true" class="fa fa-money"></i>Funds to raise</span><span class="display-mode-value"><%= @enterprise.funds_to_raise %></span></div>
              </div>
              <div class="form-group">
                <div class="user-positon"><span class="name notes"><i aria-hidden="true" class="fa fa-industry"></i>Industry</span><span class="display-mode-value"><%= @enterprise.industry %></span></div>
              </div>
              <div class="form-group">
                <div class="user-positon"><span class="name notes"><i aria-hidden="true" class="fa fa-star-half-o"></i>Enterprise stage</span><span class="display-mode-value"><%= @enterprise.enterprise_stage %></span></div>
              </div>
              <div class="form-group">
                <div class="user-positon"><span class="name notes"><i aria-hidden="true" class="fa fa-map-marker"></i>Location</span><span class="display-mode-value"><%= @enterprise.location %></span></div>
              </div>
              <div class="form-group">
                <div class="user-positon"><span class="name notes"><i aria-hidden="true" class="fa fa-lightbulb-o"></i>Stage identifer</span><span class="display-mode-value"><%= @enterprise.stage_identifier %></span></div>
              </div>
              <div class="form-group">
                <div class="user-positon"><span class="name notes"><i aria-hidden="true" class="fa fa-plane"></i>market identifer</span><span class="display-mode-value"><%= @enterprise.market_identifier %></span></div>
              </div>
              <div class="form-group">
                <div class="set-view-deatils">
                  <p>
                    <span class="name notes"><i aria-hidden="true" class="fa fa-eye"></i>Description</span><%= @enterprise.description %></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="meetingModal1" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Meeting Request</h4>
      </div>
      <%= form_tag meeting_request_meetings_path(requested_client_id: @enterprise.id) do  %>
        <div class="modal-body">
          <p class="title-modal">Hello, <%= @enterprise.name %>. Can we setup a meeting?</p>
          <div class="well">
            <div class="form-control-wrapper">
              <%= text_field_tag "topic",'',class: "form-control", placeholder: "Topic" %>
              <p style="display:none; color: red" id="message_error">Blank message can not be sent!!!</p>
              <p id="datepairExample">
                <%= text_field_tag "meeting_date",'', class: "date start form-control",placeholder: "Date" %>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="terminals">
            <div class="btn-yes-no">
              <%= submit_tag "Send",  class: "remodal-confirm btn btn-primary", id: "message_send" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  '<% if current_user.profilable_type == "InvestorProfile" %>'
    var array1 = <%= [*0..(Date::DAYNAMES.length-1)] %>;
    var array = $.map(array1, function(value, index) {
      return [value];
    });
    '<% current_user.profilable.admin_meeting_schedules.each do |meeting| %>'
      var index = '<%= Date::DAYNAMES.find_index(meeting.day).to_i %>';
      array.splice(array.indexOf(parseInt(index)),1);
    '<% end %>'
    $("#message_send").click(function(e){
      if ($("#topic").val() == ''){
        e.preventDefault();
        $("#message_error").css("display","block");
        $("#topic").css("border","red solid 1px");
      }
    });

    $('#datepairExample .date').datepicker({
      'format': 'yyyy-m-d',
      'autoclose': true,
      'daysOfWeekDisabled': array,
      // startDate: "today" To start date from today.
      startDate: "+1d" // To start date from next available date.
    }).on('changeDate',function(){
      $(this).addClass("new-date-start");
      var a = new Date($("#meeting_date").val());
      var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var day = weekdays[parseInt(a.getDay())];
      '<% current_user.profilable.admin_meeting_schedules.each do |day| %>'
        if ('<%= day.day %>' == day){
          if (array1.indexOf(a.getDay().toString()) > -1){
          }else{
            $(".form-control-wrapper #datepairExample").find(".time.start").remove();
            $(".form-control-wrapper #datepairExample").find(".time.end").remove();
            $(".form-control-wrapper #datepairExample").find("div").remove();

            $(".form-control-wrapper #datepairExample").append('<%= text_field_tag "meeting_start_time",'', class: "time start", placeholder: "Starting Time" %>')

            initialize_timepicker('<%= day.start_time.strftime("%H:%M")%>');
            // alert("invalid");
          }
        }else{
        }
        '<% end %>'
      '<% end %>'

  });
  function initialize_timepicker(val2){
    $('#datepairExample .time.start').timepicker({
      'showDuration': true,
      'timeFormat': 'G:i',
      'minTime': val2
    }).on('change',function(){
      // console.log((parseInt($(this).val().split(":")[0])+1).toString() + ":" + $(this).val().split(":")[1]);
      reload_time($(this).val());
    });
  }

  $('#datepairExample .time.start').timepicker().on('change',function(){
    reload_time($(this).val());
  });
    // initialize datepair
    $('#datepairExample').datepair();
  });
</script>

<script>
  function reload_time(val1){
    $('#datepairExample .time.end').timepicker({
      'showDuration': true,
      'timeFormat': 'G:i',
      'minTime': (parseInt(val1.split(":")[0])+1).toString()+":"+val1.split(":")[1]
    }).val((parseInt(val1.split(":")[0])+1).toString()+":"+val1.split(":")[1]);
  }
</script>

<script>
  $('#meetingModal1').on('hidden.bs.modal', function(){
      $(this).find('input[type=text]').val('');
  });
</script>
