<%= content_for :header_manage_class, '' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if resource.errors.present? %>
        <div id="floating_alert">
          <div class="alert header-alert alert-message alert-danger">
            <%= resource.errors.full_messages[0] %>
            <!-- <a href="#" class="alert-danger" data-dismiss="alert" aria-label="close" style="float: right;">&times;</a> -->
          </div>
        </div>
      <% end %>
      <div class="log-in-track">
        <div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <h3 class="text-center">Forgot Password</h3>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <div class="submit-btn">
                <%= f.submit "Send Email", class: "btn-default btn password-reset" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
