<% if user_signed_in? %>
  <%= render "/layouts/user_header" %>
  <% react_component("UserHeaderApp", props: {data: {signed_in: user_signed_in?}}) %>
<% else %>
  <% react_component("HeaderApp",
      props: {
        data: {
          signed_in: user_signed_in?,
          translation:
          {
            services: I18n.t('labels.services'),
            faq: I18n.t('labels.faq'),
            about: I18n.t('labels.about'),
            team: I18n.t('labels.team'),
            contact: I18n.t('labels.contact'),
            login: I18n.t('labels.log-in'),
            signup: I18n.t('labels.sign-up'),
          }
        }
      } ) %>

      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "navbar-brand" do %><%= image_tag @header_logo %><% end %>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class=""><%= link_to for_investors_home_pages_path do %>For Investors<% end %></li>
              <li class=""><%= link_to for_enterprises_home_pages_path do %>For Companies<% end %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            </ul>
          </div>
        </div>
      </nav>
<% end %>
