<% if user_signed_in? %>
<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Start Bootstrap", user_dashboards_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
      <ul class="nav navbar-nav">
        <li class="profile-set"><%= link_to "Profile", user_profile_path(current_user.id) %></li>
        <li><a href="#">Connections </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i aria-hidden="true" class="fa fa-user"></i></span></a>
          <ul class="dropdown-menu user-section">
            <li><a href="#"><%= current_user.name %></a></li>
            <li class="divider" role="presentation"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">create company profile</a></li>
            <li><a href="#">Manage connections</a></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li><a href="#"><i aria-hidden="true" class="fa fa-comments-o"></i></a><div class="top-count">3</div></li>
        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a><div class="top-count notes"><%= @notifications.count %></div></li>
      </ul>
    </div>
  </div>
</nav>

<% react_component("UserHeaderApp", props: {data: {signed_in: user_signed_in?}}) %>

<% else %>
<%= react_component("HeaderApp",
    props: {
      data: {
        signed_in: user_signed_in?,
        translation:
        {
          services: I18n.t('labels.services'),
          faq: I18n.t('labels.faq'),
          about: I18n.t('labels.about'),
          team: I18n.t('labels.team'),
          contact: I18n.t('labels.contact'),
          login: I18n.t('labels.log-in'),
          signup: I18n.t('labels.sign-up'),
        }
      }
    } ) %>

<% end %>
