<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Start Bootstrap", user_dashboards_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
      <ul class="nav navbar-nav">
        <li class="profile-set <%= yield :profile_active_class %> "><%= link_to "Profile", user_profile_path(current_user.id) %></li>
        <li><a href="#">Connections </a></li>
        <!-- show companies only when user is startup -->
        <% if @user.profilable_type == "UserProfile" %>
        <% @enterprise = @user.enterprises %>
          <% if @enterprise.present? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @user.enterprises.each do |enterprise| %>
                  <li><a href="#"><%= enterprise.name %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i aria-hidden="true" class="fa fa-user"></i></span></a>
          <ul class="dropdown-menu user-section">
            <li><%= link_to user_profile_path(@user) do %><%= current_user.name %><% end %></li>
            <li class="divider" role="presentation"></li>
            <li><a href="#">Settings</a></li>
            <% unless @user.profilable_type == "InvestorProfile" %>
            <li><%= link_to new_enterprise_path do %>Create Company Profile<% end %></li>
            <% end %>
            <li><%= link_to connections_user_dashboards_path do %>Manage connections<% end %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li><a href="#"><i aria-hidden="true" class="fa fa-comments-o"></i></a><div class="top-count"><%= current_user.messages.where(target_id: current_user.id,is_read: false).count %></div></li>
        <li><%= link_to notifications_path do %><i class="fa fa-bell" aria-hidden="true"></i><% end %><div class="top-count notes"><%= @notifications.count %></div></li>
      </ul>
    </div>
  </div>
</nav>
