<!DOCTYPE html>
<html>
  <head>
    <title>Project Octo Startup Time</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'frontpage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'frontpage', 'data-turbolinks-track': 'reload' %>
  </head>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <body id="<%= yield :body_id %>" class='<%= yield :body_class %>'>
      <%= render "layouts/frontpage_header" %>
      <div class="manage-header <%= yield :header_manage_class %>"></div>
      <%= render 'layouts/alert_messages' %>
        <%= yield %>
    <% unless user_signed_in?%>
      <%= render "layouts/frontpage_footer" %>
    <% end %>
  </body>
</html>
